{
  "twitter_keywords": "comma,separated,values",
  "twitter_consumer_key": "YOUR CONSUMER KEY",
  "twitter_consumer_secret": "YOUR SECRET KEY",
  "twitter_callback_url": "YOUR CALLBACK URL"
  "twitter_access_token": "YOUR ACCESS TOKEN",
  "twitter_access_token_secret": "YOUR ACCESS TOKEN SECRET"
}
  