<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--> <!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]--> <!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> <!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/style.css?v=2">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class='brand' href='/'>SCP Air Support</a>
      </div>
    </div>
  </div>
  
  <div class='container-fluid'>
    <div class='row'>
      
      <div class='span4 offset4'>
        <h1>Sign in and let's do this</h1>
        <h2><em>“why you need my twitters?”</em></h2>
        <p>
          I'm mostly using it to track who's connected and doing what,
          but also I'll let you tweet directly from the app and your responses
          to tweets will show up on other people's screens in <em>realtime!!!!11</em>
        </p>
        <h2>
          <a href="/auth/signin" id='sign-in-with-twitter'>
            <img src='https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter_0.png' alt='sign in with twitter'>
          </a>
        </h2>
      
      </div>
      
      <div class='span6'>
      
      
      </div>
  
  </div>
</body>
</html>