<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Tweet Support</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/style.css?v=2">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class='brand' href='/'>SCP Air Support</a>
        
        <span id='connected-users'>
          <script type="text/x-handlebars" data-template-name='connected-users'>
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Connected: {{count}}<b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                  {{#each users}}
                    <li><a href='https://twitter.com/{{unbound screenName}}' target="_blank">
                      <img src='http://api.twitter.com/1/users/profile_image/{{unbound screenName}}?size=mini'>
                      @{{screenName}}
                    </a></li>
                  {{/each}}
                </ul>
              </li>
            </ul>
          </script>
        </span>
      
        <span id='monitoring'>
          <script type="text/x-handlebars" data-template-name='monitoring'>
            <ul class='nav'>
              <li class='dropdown'>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Monitoring Keywords<b class="caret"></b>
                </a>

              <ul class='dropdown-menu' class='monitoring'>
                {{#each monitoring}}
                <li><a href='https://twitter.com/search/{{unbound keyword}}' target='_blank'>{{keyword}}</a></li>
                {{/each}}
              </ul>
            </ul>
          </script>
        </span>
               
        <ul class="nav pull-right"><li><a href="#" class='heart'>♥</a></li></ul>
      
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src='http://api.twitter.com/1/users/profile_image/<%= user.screen_name %>?size=mini'>
              @<%= user.screen_name %><b class="caret"></b>
            </a>
            
            <ul class="dropdown-menu">
              <li><a href='/signout'>Sign out, yo.</a></li>
            </ul>
          </li>
        </ul>      

      
      </div>
    </div>
  </div>  
  
  <div class='container'>
    
    <div class='alert alert-info upgrade'>
      <strong>Hey!</strong> I've upgraded this, <a href="/?<%= Date.now() %> ">refresh to get the latest version.</a>
    </div>
    
    <div class='row headers'>
      <div class='span3'><h1>Incoming</h1></div>
      <div class='span6'><h1>Check Out</h1></div>
      <div class='span3'><h1>Closed</h1></div>
    </div>
      
    <div class='row' id='main'>
      <div class='span3 small-view' id='incoming-container'><br></div>
      <div class='span3' id='dummy'><br></div>
      <div class='span6' id='confirmed-container'><br></div>
      <div class='span3 small-view' id='closed-container'><br></div>
    </div>
  </div>

  <script type="text/x-handlebars" data-template-name='tweet'>
    {{#with model}}
    <div class='ticket well'>
      {{#unless confirmed}}
        <button class="close" {{action "throwAway"}} rel='tooltip' title='Throw away as irrelevant'>&times;</button>
      {{/unless}}
      <h2>
        <a href="https://twitter.com/{{unbound user}}" target="_blank">
          <img src='http://api.twitter.com/1/users/profile_image/{{unbound user}}?size=mini'>
          @{{user}}
        </a>
      </h2>
      <blockquote>{{linkify text}}</blockquote>
      <span class='date'>{{humanDate createdAt}}</span>
        <div class='actions'>
          {{#unless confirmed}}
            {{#if open}}<button class='btn btn-primary' class='confirm' {{action "confirm"}}>Check Out</button>{{/if}}
          {{/unless}}
          <button class='btn' class='view' {{action "view"}}>View</button>
        </div>
    </div>
    {{/with}}
  </script>
  
  
  <script type="text/x-handlebars" data-template-name='tweet-details'>
    {{#with model}}
    <div class='blackout' {{action "closeModal"}}>
      <div class='details-container' {{action "stopBubble" }}>
        <button class="close" {{action "closeModal"}}>&times;</button>
        <h2>
          <a href="https://twitter.com/{{unbound user}}" target="_blank">
            <img src='http://api.twitter.com/1/users/profile_image/{{unbound user}}?size=mini'>
            @{{user}}
          </a>
        </h2>

        <div class='tweet-body well'>
          <div class='tweet-actions'>
            <button class='quote-retweet' {{action "quoteRetweet"}}>
              <img src="quote.svg" alt='quote retweet'>
            </button>
            <button class='retweet' {{action "retweet"}} {{bindAttr disabled="retweeted"}}>
              <img src='retweet.svg' alt='retweet'>
            </button>
          </div>
          <blockquote class='original-tweet'>
            {{linkify text}}
          </blockquote>
          <a href="https://twitter.com/{{unbound user}}/status/{{unbound statusId}}" target="_blank">Link to tweet</a>
        </div>

        <div class='replies action-set'>
          <h3>Tracked Replies</h3>
          
          {{#each replies}}
            {{#if retweet}}
            <div class='retweet'>
              <p>
                <img src='retweet.svg' alt='retweet'> by <strong>@{{author}}</strong>
                {{#if date}} on {{humanDate date}}
                <a href="https://twitter.com/{{unbound author}}/status/{{unbound statusId}}" target="_blank">(Link to tweet)</a>
                {{/if}}
              </p>
            </div>

            {{else}}
            
            <div class='reply'>
              <span class='author'><strong>@{{author}}</strong>
              {{#if date}}
              on {{humanDate date}}
              <a href="https://twitter.com/{{unbound author}}/status/{{unbound statusId}}" target="_blank">(Link to tweet)</a>
              {{/if}}
              </span>
              <blockquote class='well'>{{linkify content}}</blockquote>
            </div>

            {{/if}}
            
          {{/each}}
        </div>
       {{/with}}

        <div class='send-tweet action-set'>
          <label>
            <h3>reply as @<%= user.screen_name %></h3>
            <div class='input'>
              <span class='count'>{{remaining}}</span>
              <textarea class='outgoing-tweet' {{action "countChars" on="keyUp"}} {{action "countChars" on="keyDown"}}>{{unbound defaultTweet}}</textarea>
            </div>
          </label>        

          <div class='actions'>
            <button class='btn btn-large left' {{action "closeIssue"}}>
              Close as Resolved
            </button>
            
            <button class='btn btn-large send' {{action "sendTweetAndClose"}} {{bindAttr disabled="working"}}>
              <i class='icon-comment'></i> Send &amp; Close
            </button>
            
            <button class='btn btn-large btn-primary send' {{action "sendTweet"}} {{bindAttr disabled="working"}}>
              <i class='icon-comment icon-white'></i> Send
            </button>
          </div>
        </div>
      
        <div class='reopen action-set'>
          <button class='btn btn-large' {{action "reopenIssue"}}>
            Reopen
          </button>
        </div>
      
      </div>
    </div>
  </script>
  
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/libs/ember-0.9.8.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="bootstrap/js/bootstrap-tooltip.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
